/* *{
background-color:rgb(250, 250, 250);
} */
body{
    font-family: "Segoe UI", sans-serif;
    background: #e7d5c1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 20px;
    /* padding: 0 35%;
    margin: 100px; */
    /* border: 2px solid black; */
}
.open-modal-btn{
    padding: 10px 20px;
    background: #f46d43;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    /* margin: 10px; */
    font-size: 16px;
}
.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.hidden{
    display: none;
}
.modal{
   background: #fff;
   padding: 25px;
   width: 400px;
   border-radius: 8px;
   text-align: center;
   position: relative;
   animation: fadeIn 0.3s ease;
}
.close-btn{
    position: absolute;
    right: 15px;
    top:10px;
    /* color: #000; */
    font-size: 35px;
    /* font-weight: bold; */
    cursor: pointer;
}
h2{
    /* font-style:normal;
    text-align: center;
    color: 	#982828; */
    margin-bottom: 5px;
    font-size: 22px;
}

.tab-buttons{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    background:#fff;
    border-radius:6px ;
    overflow: hidden;
}
.tab-btn{
    flex: 1;
    padding: 10px;
    border: none;
    cursor: pointer;
    background: transparent;
    font-size: 14px;
    transition: 0.3s;
}
.tab-btn.active{
    background: #f46d43;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);

}
form{
    display: flex;
    flex-direction: column;
    text-align: left;
}
label{
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
}

input {
    /* width: 100%; */
    padding: 10px;
    margin: 5px;
    /* display: inline-block; */
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    /* box-sizing: border-box; */
    /* background-color: rgb(245, 212, 245); */

 }
 .submit-btn {
      margin-top: 20px;
      padding: 12px;
      border: none;
      background: #f46d43;
      color: #fff;
      font-size: 16px;
      border-radius: 6px;
      cursor: pointer;
      transition: 0.3s;
}
.submit-btn:hover {
      background: #ec7d5b;
}

 main{
    margin-top: 40px;
 }
 main h1{
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;
 }
main p{
    text-align: center;
    color:#686464;
    margin-bottom: 20px;
}
.upload-box{
    width: 1000px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}
.drop-area{
    display: block;
    padding: 40px;
    border: 2px dashed #f07b5f;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 15PX;
    transition: background o.3s;
}
.drop-area:hover{
    background: #fff0eb;
}
.icon{
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
}
.analyze-btn{
    width: 100%;
    padding: 12px;
    background: #f07b5f;
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}
.analyze-btn:hover{
    background: #e26d53;
}
.terms{
    margin-top: 10px;
    font-size: 12px;
    color: #888;
}
.terms a{
    color: #f07b5f;
    text-decoration: none;
}
#preview-container {
  display: none;
  text-align: center;
  margin-top: 10px;
}
#preview {
  max-width: 50%;
  max-height: 10%;
  border: 2px solid #ddd;
  border-radius: 10px;
  margin-top: 10px;
}
.change-btn{
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #eb8b6d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.change-btn:hover{
    background-color: #ff5722;
}

@keyframes fadeIn{
    from{transform: scale(0.9);
        opacity:0;

    }
    to{transform: scale(1);
        opacity: 1;
    }
}

/* @media  screen and (max-width:300px) {
    span.psw{
        display: block;
        float: none;
    }
    .cancelbtn{
        width: 100%;
    }
    
} */